<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About</title>
  </head>
  <body>
    <h1>About this Webpage</h1>
    <p>This is a word counting webpage I made while taking Nick Walter's Django
    class from Stack Skills. It is a very informative class. Having been acquainted
   with Python before, and being rather comfortable with it, I really enjoy how
   Django combines python with html to create websites.</p>
   <p>Copyright 2020</p>
  </body>
</html>
